  <!-- {{entity}} -->

  <div>
  	{{entity.name}}
  </div>
  <div>
  	{{entity.hp}}/{{entity.max_hp}}
  </div>
    <div>
  	{{entity.mp}}/{{entity.max_mp}}
  </div>
  <div>
  	{{entity.atb}}/255
  </div>
  <div ng-if=entity.status.poison>
  	poison
  </div>
  <div ng-if=entity.status.burn>
  	burn
  </div>
  <div ng-if=entity.status.fear>
  	fear
  </div>
  <div ng-if=entity.status.berserk>
  	berserk
  </div>

  <button ng-if='entity.atb > 250' ng-click=battle.action(entity,action) ng-repeat='action in entity.actions'>
  	{{action}}
  </button>
  <button ng-click=inventory.use('potion',[entity])>
    potion 
  </button>