<!doctype html>
<html class="no-js" ng-app=demo>
  <head>
    <meta charset="utf-8">
    <title>dungeon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div style=float:left>
      <div ng-repeat='entity in dudes|team:0' dungeon-entity-display debug=true entity=entity>
        
      </div>
    </div>

    <div>
      <div style=float:right ng-repeat='entity in dudes|team:1' dungeon-entity-display debug=true entity=entity>
        
      </div>
    </div>

    <button ng-click=spawn()>spawn 2 new dudes</button>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/lib/dungeon.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/scenario/characters.js"></script>
        <script src="scripts/scenario/actions.js"></script>
        <script src="scripts/scenario/status.js"></script>
        <script src="scripts/scenario/items.js"></script>
        <script src="scripts/scenario/ai.js"></script>
        <!-- endbuild -->
</body>
</html>
